## SUMMATIONS AND PRODUCTS

**Question 1**

**Question 2**

In [179]:
day_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

i = int(input("Enter a number from 0 to 6 :"))

if (i < 7) :
    if (i <= 4) :
        print(day_of_week[i])
    elif (i < 0) :
        print('You entered a negative number. Please enter a number between 0 and 6')
    else :
        print('Weekend')
else :
    print('The number is greater than 6. Enter a number between 0 and 6')

Enter a number from 0 to 6 : -3

Friday

**Question 3**

In [95]:
months_of_year = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

i = int(input("Enter a number from 0 to 11"))

x = "28"
y = "30"
z = "31"


if (i <= 11) :
    if (i <= 6) :
        if (i == 1) :
            print("The month is February" + ". It has " + x + " " + "days")
        elif (i % 2 != 0 ) :
            print("The month is" + " " + months_of_year[i] + ". It has " + y + " " + "days")
        else :
            print("The month is" + " " + months_of_year[i] + ". It has " + z + " " + "days")
    else :
        if (i % 2 != 0 ) :
            print("The month is" + " " + months_of_year[i] + ". It has " + z + " " + "days")
        else :
            print("The month is" + " " + months_of_year[i] + ". It has " + y + " " + "days")
            
else :
    print('The number is greater than 11. Enter a number between 0 and 11')

Enter a number from 0 to 11 1

The month is February. It has 28 days

**Question 4**

In [119]:
my_name = input('Enter your name :')
x= range(3)

Enter your name : Chelsea Kilonzo

In [147]:
#For loop
for  i in x:
    print(my_name)

Chelsea Kilonzo
Chelsea Kilonzo
Chelsea Kilonzo

In [143]:
#While loop
for i in x :
    while i < max(x) :
        print(my_name)
        i = i + 1

Chelsea Kilonzo
Chelsea Kilonzo
Chelsea Kilonzo

**Question 5**

In [ ]:
a = int(input("Enter the first term of the fibonacci sequence: "))
b = int(input("Enter the second term of the fibonacci sequence: "))

**Question 6**

In [151]:
#Dont get the question

# x = range(30)

# x0 = 1
# x1 = 2

# for i in x :
#     while i < max(x) :
#         eqn = (2 * (i + 2)) - (i + 1) - (6 * i)

**Question 7**

**Question 8, 9**

**Question 10**

In [233]:
a = int(input("Enter a number between 0 and 9 :"))
n = int(input("Enter the length of the multiplication table:"))
print("The multiplication table of " + str(a) + " up to " + str(n) + " is: ")

n = range(n + 1)
i = 0

if (a > 9) :
    print("Error! The number is greater than 9")
elif (a < 0) :
    print("Error! The number is negative")
    #break


while (i < max(n)) :
    mult = a * i
    print(str(a) + " x " + str(i) + " = " + str(mult))
    i = i + 1

Enter a number between 0 and 9 : 3
Enter the length of the multiplication table: 10

The multiplication table of 3 up to 10 is:
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

**Question 11**

In [ ]:
x = range(40)
c = 0

for  i in x :
    while (i % 3 == 0) :
        three = []
        three.insert(c, i)
        c = int(c) + 1
    # while (i % 7 == 0) :
    #     seven = []
    #     seven.insert(x[i],i)
    # while (i % 11 == 0) :
    #     eleven = []
    #     eleven.insert(x[i],i)
        
print("The numbers divisible by 3 are: ")
print(three)
print('=====================================/n')

print("The numbers divisible by 7 are: ")
print(seven)
print('=====================================/n')

print("The numbers divisible by 11 are: ")
print(eleven)
print('=====================================/n')

In [323]:
three = []
three.insert(0, 1)
three.insert(1, 2)
three

[1, 2]

**Question 12**

In [255]:
import math
x = float(input("Enter a number: "))
y = math.floor(x)
print("The floor of " + str(x) + " is " + str(y))

Enter a number:  3

The floor of 3.0 is 3